/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/************************************/
/***************END OF CSS RESET*****/
/************************************/
body{
	background: #000033;
}

.homecontainer{
	width: 70%;
	min-height: 300px;
	background: ivory;
	margin: 10% auto;
	border-radius: 1%;
}

#mytitle{
	font-family: 'Parisienne', sans-serif;
	text-align: center;
	padding-top: 5%;
	font-weight: 600;
	font-size: 3em;
	color:gold;
	text-shadow: orangered 2px 2px 2px;
}

#contact{
	padding: 1%;
}

#email, #name, #whoami{
	display: block;
	margin: 2% auto;
	font-size: 1.5em;
	text-align: center;
	width: 60%;
	padding: 1.5%;
}

#submit{
	display: block;
	width: 30%;
	font-family: 'Parisienne', sans-serif;
	font-weight: 600;
	font-size: 3em;
	background: goldenrod;
	color: #000033;
	font-size: 3em;
	padding: 0.5% 1.5%;
	border-radius: 15% 15% 15% 15%;
	margin: 2% auto;
}

@media(max-width: 576px){
	#email, #name, #whoami{
		display: block;
		margin: 2% auto;
		font-size: 0.8em;
		text-align: center;
		width: 80%;
		padding: 1.5%;
	}
	#submit{
		display: block;
		width: 50%;
		font-family: 'Parisienne', sans-serif;
		font-weight: 600;
		font-size: 1.5em;
		background: goldenrod;
		color: #000033;
		padding: 2% 1.5%;
		border-radius: 15% 15% 15% 15%;
		margin: 2% auto;
	}
	#mytitle{
		font-family: 'Parisienne', sans-serif;
		text-align: center;
		padding: 10% 2%;
		font-weight: 600;
		font-size: 1.5em;
		color:gold;
		text-shadow: orangered 2px 2px 2px;
	}
}

@keyframes dim {
	0% {box-shadow:20px 20px 200px 15px rgba(218, 165, 32, 0.6),-20px -20px 200px 15px rgba(218, 165, 32, 0.6)}
	50% {box-shadow:20px 20px 200px 5px rgba(218, 165, 32, 0.6),-20px -20px 200px 5px rgba(218, 165, 32, 0.6)}
	100% {box-shadow:20px 20px 200px 30px rgba(218, 165, 32, 0.6),-20px -20px 200px 30px rgba(218, 165, 32, 0.6)}
}

.fenetre{
	width: 80%;
	position: relative;
	margin: 15px auto;
	height: auto;
	line-height: 0;
	animation: dihm 10s infinite ease-in-out alternate;
	overflow: hidden;
}

/*sizer element*/
#fenetre{
	position: relative;
	width: 100%;
	height: auto;
	z-index: 50;
	pointer-events: none;
}

#background{
	position: absolute;
	z-index: 0;
	width: 99%;
	bottom: 3%;
	left: 0.5%;
	pointer-events: none;
}

#tapis{
	position: absolute;
	width: 50%;
	bottom: 10%;
	left: 25%;
	pointer-events: none;
}



/*elements de la cheminee*/
.cheminee{
	position: absolute;
	width: 40%;
	bottom: 25%;
	left: 30%;
	pointer-events: none;
}

/*sizer element*/
#cheminee{
	position: relative;
	width: 100%;
	height: auto;
	z-index: 40;
	pointer-events: none;
}

/*positioned elements*/
#firepit{
	position: absolute;
	width: 35.7%;
	bottom: 9.3%;
	left: 32%;
	z-index: 41;
	pointer-events: none;
}

#lueur{
	position: absolute;
	width: 15%;
	bottom: 20%;
	left: 42.5%;
	z-index: 42;
	pointer-events: none;
}

@keyframes outer {
	0% {transform: rotate(5deg) skew(5deg, -5deg)}
	25% {transform: rotate(-10deg) skew(0deg, 5deg)}
	50% {transform: rotate(0deg) skew(5deg, -5deg)}
	75% {transform: rotate(-5deg) skew(0deg, 5deg)}
	100% {transform: rotate(10deg) skew(5deg, -5deg)}
}
@keyframes middle {
	0% {transform: rotate(5deg) scaleX(-1) skew(5deg, -5deg)}
	25% {transform: rotate(-10deg) scaleX(-1) skew(5deg, -5deg)}
	50% {transform: rotate(0deg) scaleX(-1) skew(0deg, 5deg)}
	75% {transform: rotate(-5deg) scaleX(-1) skew(0deg, 5deg)}
	100% {transform: rotate(10deg) scaleX(-1) skew(-5deg, 0deg)}
}

#flameouter{
	position: absolute;
	width: 10%;
	bottom: 17.5%;
	left: 45%;
	z-index: 43;
	animation: outer 0.5s infinite alternate ease-in-out;
}

#flamemiddle{
	position: absolute;
	width: 8%;
	bottom: 17.5%;
	left: 45.7%;
	z-index: 44;
	animation: middle 0.4s 0.1s infinite alternate ease-in-out;
}

#flameinner{
	position: absolute;
	width: 5%;
	bottom: 18%;
	left: 47.5%;
	z-index: 45;
	animation: outer 0.3s 0.15s infinite alternate ease-in-out;
}

.bottes{
	position: absolute;
	width: 10%;
	z-index: 45;
	pointer-events: none;
}

.rouge{
	bottom: 67%;
}

.verte{
	bottom: 63%;
}

#botte1{
	left: 8%;
}

#botte2{
	left : 26%;
}

#botte3{
	left : 44%;
}

#botte4{
	left : 62%;
}

#botte5{
	left : 80%;
}

.reindeer{
	position: absolute;
}
  
  /* Start */
  .side::before,.side::after {
	  display: none;
  }
  
  .side .md > blockquote:last-of-type,
  .side .md > blockquote:last-of-type p,
  .side .md > blockquote:last-of-type a {
	position: absolute;
	top: 0;
	bottom: 0;
	background-size: cover;
	left: 0;
	right: 0;
	pointer-events: none;
  }
  
#snow1 {
	display: block;
	height: 2000px;
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/299775/snow-sparse-flipped.png);
	animation: s 10s linear infinite;
	background-size: auto;
	z-index: 60;
  }
  
  @keyframes s {
	0% {
		transform: translateY(-1000px);
	}
  }

#merry{
	position: absolute;
	opacity: 0;
	height: auto;
	width: 50%;
	bottom: 0;
	left: 0;
	pointer-events: none;
	z-index: 49;
	transition: opacity 0.2s ease-in-out;
	animation: jackInTheBox 2s infinite alternate;
}

@keyframes jackInTheBox {
	from {
	  -webkit-transform: rotate(-3deg);
	  transform: rotate(-3deg);
	}
  
	50% {
	  -webkit-transform: rotate(3deg);
	  transform: rotate(3deg);
	}
  
	70% {
	  -webkit-transform: rotate(-3deg);
	  transform: rotate(-3deg);
	}
  
	to {
		-webkit-transform: rotate(3deg);
		transform: rotate(3deg);
	}
  }